h1, h2, p, ul, a {
	font-family: 'Titillium Web', sans-serif;
}

p.intro {
	font-size: 16px;
	line-height: 20px;

	@media #{$small} {
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
	}
	@media #{$x-large} {
		font-size: 22px;
		line-height: 28px;
	}
}

h2 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;

	@media #{$small} {
		font-size: 18px;
		line-height: 24px;
	}

	@media #{$x-large} {
		font-size: 22px;
		line-height: 26px;
	}
}
a {
	text-decoration: none;
	color: inherit;
}