* {
	@include box-sizing(border-box);
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	@include min-width(320px);
}

.page_wrapper {
	position: relative;
}

.link_1 {
	
	font-weight: 700;

	span {
		overflow: hidden;
		position: relative;
		display: inline-block;
		line-height: inherit;

		&:before {
			content: '\e802';
			display: block;
			font-size: inherit;
			height: 100%;
			width: 20px;
			float: left;
			margin-left: -20px;
			color: inherit;

			font-family: "icons-petro";
	  		font-style: normal;
	  		font-weight: normal;
	  		speak: none;
	 
		  	text-align: center;
	 		-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			@include rotate(-90deg);

			@include transition-property(all);
			@include transition-duration(.3s);
			@include transition-timing-function(ease-in-out);
		}
	}
}

.link_1:hover {
	span:before {
		margin-left: 0;
	}
}